*{
    margin: 0;
    padding: 0;
    background-color: white;
    /*color: white;*/
}
@font-face {
    font-family: theseasons;
    src: url(../fonts/theseasons/fontspring-demo-theseasons-bd-webfont.woff2);
}
/* Fonts: Spectral */
.all{
    width: 100%;
}
.section{
    padding: 2%;
    overflow-x: hidden;
}
.titleh1{
    font-family: theseasons;
    font-size: 5em;
}
.btn-acess{
    position: absolute;
    right: 0;
}
.bereaders{
    padding: 1%;
    width: 30%;
    /*border: white solid 0.1px;*/
    border-radius: 15px;
}
.tr{
    border-radius: 15px;
}
.betitle{
    font-size: 1.5em;
    padding-bottom: 1%;
}