@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #121212;
    padding: 50px;
    font-family: "Poppins";
}
.img-story{
    max-width: 300px;
}