@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
}
/* ALL */
.all{
    background: url(../img/fundo-2-login.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
    color: aliceblue;
}
/* LOGIN */
.container-login{
    transition: 1s linear;
    width: auto;
    opacity: 0.75;
    height: auto;
    margin: 0 auto;
    padding: 0.9%;
    border: white solid 0.2px;
    border-radius: 15px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}
.login{
    transition: .2s linear;
}
.login:hover{
    opacity: 1.4;
}
.login-form{
    border: white solid 0.2px;
    border-radius: 15px;
    padding: 20px;
}
.login-form label{
    font-size: 2em;
}
.login-form input{
    font-size: 1.2em;
    width: 10vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding: 4%;
    color: aliceblue;
    background-color: transparent;
    border: white solid 0.2px;
}
#submit-login{
    margin: 0 auto;
}

.container-cadastro{
    width: 40vw;
    position: absolute;
    right: -40vw;
    transition: .9s linear;
    background-color: rgb(209, 209, 209);
    height: 100vh;
}
.cadastro{
    margin-left: 2vw;
    margin-top: 2vw;
    font-size: 1.4em;
    color: black;
}
.container-cadastro-appear{
    right: 0;
    background: rgba(255,255,255,1);
}
.container-login-disappear{
    left: 100vw;
}