@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Poltawski+Nowy&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Playfair+Display:ital@1&family=Poltawski+Nowy&display=swap');

/* ZA COLORS */

.za-colors{
    background-color: #121212;
    background-color: #1e1e1e;
    background-color: #222222;
    background-color: #242424;
    background-color: #272727;
    background-color: #2c2c2c;
    background-color: #2d2d2d;
    background-color: #333333;
    background-color: #343434;
    background-color: #383838;
}
*{
    padding: 0;
    margin: 0;
    outline: none;
}
body{
    background-color: #121212;
    max-width: 100vw;
    color: white;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    display: flex;
    position: relative;
    flex-direction: column;
}
#preview-div{
    width: 100vw;
    height: 100%;
    display: none;
    overflow: hidden;
    position: absolute;
    background: #121212;
}
.show-preview{
    display: block;
}
#form-criacao{
    width: 100%;
    padding: 1vw;
    margin: 0 auto;
    display: block;
}
.toogle{
    position: relative;
    width: 5vw;
    height: 10vh;
    font-family: 'Poltawski Nowy';
    text-align: center;
    transition: .2s linear;
    cursor: pointer;
    color: white;
}
.toogle:hover{
    border-radius: 0;
    background-color: white;
    color: #121212;
}
.toogle i{
    line-height: 10vh;
    font-size: 30px;
}
.all{
    width: 96vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    gap: 2vw;
}
.section{
    background-color: #1e1e1e;
    -webkit-box-shadow: 0px 11px 21px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 11px 21px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 11px 21px -5px rgba(0,0,0,0.75);
    border-radius: 10px;
}
.title{
    flex-grow: 1;
    height: 10vh;
    line-height: 10vh;
    font-family: 'Poltawski Nowy';
    text-align: center;
}
.story-title{
    flex-grow: 2;
    height: 10vh;
    line-height: 10vh;
}
.story-title input{
    width: 96%;
    margin: 2%;
}
.story{
    flex-grow: 0;
    width: 70%;
    height: auto;
}
.story > h1{
    padding: 2%;
    font-family: 'Poltawski Nowy';
}
.col2{
    display: flex;
    flex-direction: column;
	box-sizing: border-box;
    width: 25%;
    flex-grow: 1;
    gap: 2vw;
    height: max-content;
}
.warnings{
    flex-grow: 1;
    width: calc(100% - 4vw);
    padding: 2vw;
    align-self: flex-start;
    height: auto;
    font-family: 'Poltawski Nowy';
}
.warnings h1{
    margin-bottom: 2vh;
}
.warnings ul{
    margin-left: 1vw;
    text-align: justify;
}
.warnings ul ol{
    margin: 1vw;
    margin-left: 3vw;
}
.subref{
    margin-left: 2vw;
}
.page-all{
    width: 92%;
    margin: 2%;
    padding: 2%;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    font-family: 'Poltawski Nowy';
    background-color: #272727;
    -webkit-box-shadow: 0px 11px 21px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 11px 21px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 11px 21px -5px rgba(0,0,0,0.75);
}
.page-title{
    margin-bottom: 3%;
}
.page-title h1{
    margin-bottom: 1%;
}
.page-title ul{
    margin-left: 2%;
}
.page-all textarea{
    width: 100%;
    height: 3vh;
    transition: .2s linear;
    overflow: hidden;
}
.page-all textarea:active, .page-all textarea:hover, .page-all textarea:focus{
    height: 70vh;
    overflow-y: scroll;
}
.story-page{
    border-top: solid 1vh red;
}
.pics-page{
    border-top: solid 1vh rgb(240, 9, 171);
}
.ref-page{
    border-top: solid 1vh green;
}
.ref-page input{
    width: 100%;
}
.uploads{
    height: auto;
    flex-grow: 1;
    padding: 1vw;
    align-self: flex-start;
    height: auto;
    font-family: 'Poltawski Nowy';
    width: calc(100% - 2vw);
}
#upload{
    height: 6vh;
    width: 60%;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}
/* PREVIEW */
.preview{
    height: auto;
    flex-grow: 1;
    padding: 1vw;
    align-self: flex-start;
    height: auto;
    font-family: 'Poltawski Nowy';
    width: calc(100% - 2vw);
}
#preview-bt{
    height: 6vh;
    width: 60%;
    margin: 0 auto;
    display: block;
    cursor: pointer;
}
/* INPUT FILE */

input, button{
    height: 5vh;
    line-height: 5vh;
    border: none;
    outline: none;
}
.page-pics-input{
    width: calc(100%-1vw);
    height: auto;
    background-color: #272727;
    color: white;
    font-weight: 400;
}
.input-file-unit{
    padding: .5vw;
    line-height: 5vh;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    position: relative;
}
.input-file-unit i{
    line-height: 5vh;
    margin-right: .5vw;
}
.input-file-unit button{
    width: 20%;
    height: calc(5vh + 1vw);
    cursor: pointer;
    position: absolute;
    color: white;
    background-color: #2d2d2d;
    right: 0;
    top: 0;
}
.bt-input-img:hover{
    background-color: white;
    color:rgb(0, 0, 0);
}
.input-file-unit:hover{
    background-color: #2d2d2d;
    color:rgb(240, 9, 171);
}
.input-file{
    display: none;
}
.imagem-label{
    cursor: pointer;
}
@media (width <= 600px) {
    .story{
        width: 100%;
    }
}