*{
    margin: 0;
    padding: 0;
    background-color: white;
    /*color: white;*/
}
@font-face {
    font-family: theseasons;
    src: url(../fonts/theseasons/fontspring-demo-theseasons-bd-webfont.woff2);
}
/* Fonts: Spectral */
/* MENU */

.menu{
    position: fixed;
    min-height: 70px;
    width: 100%;
    background-color: red;
}
.menudiv{
    background-color: red;
}
.switch-mode{
    width: 50px;
    height: 50px;
    background-color: aqua;
}
/* MAIN */
.main{
    padding-left: 5%;
    padding-right: 5%;
}
.titleh1{
    font-family: theseasons;
    font-size: 5em;
}
.btn-acess{
    position: absolute;
    right: 0;
    top: 20px;
}
.phrase{
    font-size: 2em;
}
.bereaders{
    padding: 1%;
    width: 30%;
    /*border: white solid 0.1px;*/
    border-radius: 15px;
}
.tr{
    border-radius: 15px;
}
.betitle{
    font-size: 1.5em;
    padding-bottom: 1%;
}