/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.google.com/specimen/Playfair+Display');

/* CSS */
*{
    margin: 0;
    padding: 0;
}
.transi{
    transition: .45s linear;
    transition-property: background-color;
}
.t045{
    transition: .45s linear;
}
.bc{
    background-color: var(--background);
}
:root {
    color-scheme: light;
    --text: black;
    --text-2: white;
    --background: white;
    --background-1: white;  
    --background-2: #adadad;
    --background-3: #929292;
    --background-4: #4d4b4b;
    --background-5: #363636;
    --background-6: #252525;
    --background-7: #121212;
    --background-menu: white;
    --background-col3: white;
    --box-shadow-color: #948f94;
    --box-shadow-color-3: none;
    --background-nav: #aaaaaa;
    --tv-effect-1:var(--background);
    --tv-effect-2:#696969;

    --title-opacity: 1;
    --lines-opacity: 0;
    --lines-opacity-day: 0.2;
    --effect-color: maroon;
    --glow-color: maroon;
    --glow-color-text: rgb(224, 26, 26);
}
.dark{
    color-scheme: dark;
    --text:white;
    --text-2: black;
    --background: #121212;
    --background-1: #121212; 
    --background-2: #252525;
    --background-3: #363636;
    --background-4: #4d4b4b;
    --background-5: #b1b0b0;
    --background-6: #d6d5d5;
    --background-7: #121212;
    --background-menu: #222222;
    --background-col3: #121212;
    --box-shadow-color: #696869;
    --box-shadow-color-3: #121212;
    --background-nav: #222222;
    --tv-effect-1:var(--background);
    --tv-effect-2:#474747;

    --title-opacity: 0.6;
    --lines-opacity: 0.2;
    --lines-opacity-day: 0;
    --effect-color: rgb(230, 16, 16);
    --glow-color: maroon;
    --glow-color-text: rgb(224, 26, 26);
}
/* SHAPES */
.circle{
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
/* ALL */
.all{
    display: flex;
    flex-direction: row;
    width: 100vw;
}
/* MENU */
.menu{  
  display: flex;
  z-index: 1000;
  height: 100vh;
  width: 8vw;
  flex-direction: column;
  list-style: none;
  background-color: var(--background-menu);
  font-family: 'Raleway', sans-serif;
  box-shadow: 0px 0px 12px 0px var(--box-shadow-color);
  margin-left: 0;
  transition: margin-left .1s linear;
}
.fpart{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.piece{
  position: relative;
  width: 100%;
  height: 25vh;
  background-color: inherit;
  text-align: center;
}
.piece a{
    font-size: 1.2em;
    color: var(--text);
    text-decoration: none;
    transition: all 0.45s;
}
.piece a:hover{
    color: var(--effect-color);
}
.logo{
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    background-color: var(--text);
    background-image: url(../img/funny-cat.jpg);
    background-position: center;
}
#mode{
    color: var(--text);
    font-size: 2em;
    cursor: pointer;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.container-slider{
    position: relative;
    width: 100%;
    height: 50vh;
}
.slidernav{
    height: 50vh;
    width: max-content;
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 6px 12px 0px var(--box-shadow-color);
    border-radius: 25px;
    background-color: var(--background-nav);
    opacity: 0.5;
    transition: linear 0.45s;
    z-index: 1000;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
.slidernav a{
    padding: 10%;
    height: 20px;
    width: 20px;
    transition: 0.1s linear;
    border-radius: 50%;
    border: var(--text) solid 1px;
}
.slidernav a:hover{
    background: var(--text);
}
#acess{
    cursor: pointer;
    position: absolute;
    z-index: 1000;
    top: 7vh;
    right: 7vh;
    width: auto;
    height: auto;
    padding: 1.4%;
    box-shadow: 0px 6px 12px 0px var(--box-shadow-color);
    transition: all 0.45s;
    background-color: var(--background-menu);
    opacity: 0.5;
}
#acess a{
    text-decoration: none;
    font-size: 1.2em;
    color: var(--text);
    transition: all 0.45s;
}
#acess a:hover{
    color: var(--effect-color);
}
/* MAIN */
.main{
    background-color: var(--background);
    height: 100vh;    
    width: 92vw;
    overflow-y: hidden;
    color: var(--text);
    scroll-snap-align: y mandatory;
    scroll-behavior: smooth;
}
.sections{
    height: 100vh;
    position: relative;
}
.section{
    height: 100vh;
    transition: linear 0.1s;
}
    /* HOME - SECTION */
.home-section{
    font-family: 'Raleway', sans-serif;
    background-image: url(../img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}
.home-background{
    width: 100%;
    height: 100vh;
    position: absolute;
    opacity: var(--lines-opacity);
    z-index: 10;
    background: linear-gradient(var(--tv-effect-1), 
    var(--tv-effect-1) 10px, 
    var(--tv-effect-2) 10px, 
    var(--tv-effect-2) 15px);

    background-size: 100% 15px;
    background-repeat: repeat;
    animation: 15s infinite cubic-bezier(0,1.48,1,-1.45);
    animation-name: movebackground;
}
@keyframes movebackground{
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 0% -100%;
    }
}
.home-background-day{
    width: 100%;
    height: 150vh;
    position: absolute;
    z-index: 10;
    opacity: var(--lines-opacity-day);
    background-color: #121212;
    transition: 0.9s linear;
    rotate: -30deg;
    right: -50vh;
    bottom: -100vh;
}
.col{
    float: left;

}.home-col{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 9;
}
.home-col1{
    padding-top: 40vh;
    height: 100vh;
    width: 100%;
    opacity: var(--title-opacity);
    background-color: var(--background-1);
}
.home-frow{
    width: 95%;
    float: right;
}
.hist{
    display: block;
    font-size: 1.5em;
}
.home-titleh1{
    font-size: 4em;
    text-align: left;
}
.home-srow{
    float: right;
    width: 95%;
    font-size: 1.4em;
}
.home-col2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    font-size: 3em;
    width: 35%;
}
    /* EXP - SECTION */
#exp-sec{
    background-color: var(--background-2);
}
.exp-col1{
    width: 30%;
    height: 100vh;
    position: relative;
}
.img-exp-col1{
    width: 70%;
    height: 90vh;
    background-image: url(../img/funny-cat-2.jpg);
    background-size: cover;
    border-radius: 50% / 23%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.exp-col2{
    height: 100vh;
    text-align: right;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}
.line1{
    width: 70%;
    text-align: left;
    padding-bottom: 10vh;
    font-size: 4em;
}
.line2{
    width: 70%;
    text-align: left;
    font-size: 1.2em;
}

    /* BEST STORIES - SECTION */
#beh-sec{
    background-color: var(--background-3);
}
.beh-col1{
    height: 100vh;
    text-align: right;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}
.beh-col2{
    width: 40%;
    height: 100vh;
    position: relative;
}
.img-beh-col2{
    width: 100%;
    height: 100vh;
    background-image: url(../img/cuie-cobra-boca.png);
    background-size: cover;
}
.line1-beh-sec{
    width: 80%;
}
.line2-beh-sec{
    width: 80%;
}
    /* WRITE YOUR STORIES - SECTION */

#wys-sec{
    background-color: var(--background-4);
}

    /* RANK - SECTION */

#rank-sec{
    background-color: var(--background-5);
}
.col1-rank{
    width: 60%;
    height: 100vh;
    float: left;
}
.col1-rank-text{
    width: 80%;
    float: right;
    padding-top: 15vh;
    padding-right: 20%;
    color: var(--text-2);
}
.title-rank-test{
    color: var(--text-2);
    font-size: 3.2em;
    text-align: left;
}
.exp-rank-test{
    color: var(--text-2);
    padding-top: 5vh;
    font-size: 1.3em;
    text-align: justify;
}
.col2-rank{
    position: relative;
    width: 38%;
    height: 100vh;
    float: left;
}
#bestreaders{
    z-index: 99;
    display: block;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 1.2vw;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: var(--background-col3);
    box-shadow: -13px 10px 65px -5px var(--box-shadow-color-3);
}
table{
    width: 100%;
    height: auto;
    color: var(--text);
}
th{
    padding: 1vw;
}
.col3-rank{
    z-index: 100;
    width: 2%;
    height: 100vh;
    float: left;
    background-color: var(--background-col3);
    box-shadow: 43px 8px 103px 29px var(--box-shadow-color-3);
}

    /* PREM - SECTION */

#prem-sec{
    background-color: var(--background-6);
    background-image: url(../img/cuie-arlequina-paiaca.png);
    background-size: cover;
}

    /* LAST - SECTION */

#last-sec{
    position: relative;
    background-color: var(--background-7);
    background-image: none;
}
.selected-link{
    transform: scale(120%);
    background-color: var(--text);
}
#bt-enter{
    width: auto;
    height: auto;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
#img-cat-paw{
    left: 45%;
    transform: translate(-50%, 0%);
    height: 70vh;
    position: absolute;
    bottom: -70vh;
    transition: 1.2s cubic-bezier(.07,1.11,.93,-1.01);
}
.goback{
    width: 40%;
    position: absolute;
    top: 15vh;
    font-size: 2em;
    left: 50%;
    color: maroon;
    animation: updown 2s infinite;
}
@keyframes updown {
    0%{
        top: 15vh;
    }
    50%{
        top: 10vh;
    }
    100%{
        top: 15vh;
    }
}
.sumiracesso{
    top: -50vh !important;
}
.sumirmenu{
    margin-left: -8vw;
    box-shadow: none;
}