@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  color-scheme: light;
  --background: white;
  --text: #121212;
  --card-bc: #f0f0f0;
}

.dark {
  color-scheme: dark;
  --background: #121212;
  --text: white;
  --card-bc: #181717;
}

.bc-letters {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s linear;
}

/* MIXIN */
@keyframes elements {
  from {
    top: 0;
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  to {
    top: 100vh;
    opacity: 0;
  }
}
@keyframes elementsUp {
  from {
    bottom: 0;
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  to {
    bottom: 100vh;
    opacity: 0;
  }
}
.background-header {
  font-size: 50px;
}

.portal {
  position: absolute;
  right: 0;
  min-height: 100vh;
  width: 200px;
  transition: 0.2s linear;
  display: flex;
  justify-content: center;
  writing-mode: vertical-rl;
  box-shadow: none;
  cursor: pointer;
}

.portal h2 {
  text-align: right;
}

.portal:hover {
  box-shadow: inset -68px -2px 19px -7px rgba(0, 0, 0, 0.41);
}

.section {
  min-height: 100vh;
  background-color: var(--background);
}

.bcs {
  background-color: #ccc5b9;
}

.pc {
  background-color: #403d39;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--background);
  min-height: 100vh;
}

.itens, .section {
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s linear;
}

section {
  width: 100%;
  padding: 50px;
  text-align: center;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 0.8s linear;
}

.active {
  transform: translateY(0px);
  opacity: 1;
}

.itens {
  margin: 30px;
  margin-left: 0;
  margin-right: 0;
  min-height: 50vh;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: var(--card-bc);
  box-shadow: 0px 11px 21px -5px rgba(0, 0, 0, 0.75);
  padding: 20px;
  cursor: pointer;
}

.card-pic {
  background-position: center;
  background-size: cover;
  width: 100px;
  height: 100px;
}

.price {
  margin-top: 20px;
  font-size: 20px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.modal-card {
  width: 0;
  position: relative;
  height: auto;
  padding: 10px;
  min-width: 500px;
  height: auto;
  margin: auto;
  background-color: var(--background);
  border-radius: 30px;
  animation-name: zoom;
  animation-duration: 0.6s;
  color: var(--text);
  box-shadow: 0px 11px 21px -5px rgba(0, 0, 0, 0.75);
}

#img-compra {
  margin: auto;
  display: block;
  height: 300px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.inf-div {
  position: relative;
  width: 100%;
  height: auto;
}

.inf-price {
  padding-left: 20px;
  line-height: 100px;
  font-size: 30px;
}

.close {
  position: absolute;
  display: block;
  top: 0;
  line-height: 100px;
  right: 10px;
  height: 100px;
  color: var(--text);
  font-size: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: red;
}

#conf-compra {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  cursor: pointer;
  border: none;
  transition: 0.4s linear;
  border-radius: 30px;
  box-shadow: 0px 11px 21px -5px rgba(0, 0, 0, 0.75);
}

#conf-compra:hover {
  background-color: red;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-card {
    min-width: 300px;
    height: auto;
  }
  #img-compra {
    min-width: 100%;
    height: 300px;
  }
}/*# sourceMappingURL=loja.css.map */