@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Playfair+Display:ital@1&family=Poltawski+Nowy&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
/* MIXIN */
/* * */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ZA COLORS */
.za-colors {
  background-color: #121212;
  background-color: #1e1e1e;
  background-color: #222222;
  background-color: #242424;
  background-color: #272727;
  background-color: #2c2c2c;
  background-color: #2d2d2d;
  background-color: #333333;
  background-color: #343434;
  background-color: #383838;
}

:root {
  color-scheme: light;
  --background-story: white;
  --background-page: white;
  --background-bar: beige;
  --text: #121212;
  --star-bc: #121212;
  --paper-color: #f0f0f0;
  --paper-line-color: steelblue;
}

.dark {
  color-scheme: dark;
  --background-story: #121212;
  --background-page: #222222;
  --background-bar: #2c2c2c;
  --text: white;
  --star-bc: black;
  --paper-color: #f0f0f0;
  --paper-line-color: steelblue;
}

body {
  overflow-x: hidden;
}

.transi {
  transition: 0.45s linear;
}
/* ALL */
.all {
  transition: 0.5s linear;
  background-color: black;
  flex-direction: row;
  position: relative;
  /*display: none;*/
}

.story-all-container {
    width: 100%;
    height: max-content;
    background-color: #121212;
    padding-top: 30px;
}
.slider{
    position: relative;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    overflow: hidden;
}
.slide{
    width: 100%;
    grid-column: 2;
    grid-row: 1;
    transition: .1s linear;
    height: fit-content;
}
.behindSheet{
  transform: scale(20%);
  opacity: .3;
}
/* PAPER */
.page {
  width: 100%;
}
.writing {
  border-top: 20px solid red;
  position: relative;
  padding: 20px;
  padding-bottom: 30px;
  overflow-y: hidden;
  background: var(--paper-color);
  box-shadow: 0px 0px 5px 0px #888;
  max-height: 50vh;
  transition: 0.4s linear;
  color: #121212;
}
.bt-open-close {
  position: absolute;
  top: 20px;
  right: 20px;
}
.appear {
  max-height: -moz-max-content;
  max-height: max-content;
}
.lines {
  height: 100%;
  width: 100%;
  background-image: repeating-linear-gradient(var(--paper-color) 0px, var(--paper-color) 24px, var(--paper-line-color) 25px);
}
.text {
  margin-top:20px;
  line-height: 25px;
  width: 98%;
  overflow: hidden;
  outline: none;
  text-align: justify;
  font-family: "Indie Flower";
}
.text pre{
  font-family: "Indie Flower";
}
/* STORY TITLE */
.story-title {
  width: -moz-max-content;
  width: max-content;
  transition: 0.6s linear;
  font-family: "Indie Flower";
}

.showing {
  left: 0;
}

#title-container {
  height: 13vh;
}

.story-title > h1 {
  color: #121212;
  width: -moz-max-content;
  width: max-content;
}

.ratings {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: var(--star-bc);
  overflow: hidden;
}

#full-stars {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #e0e413;
}

.empty-stars:before, #full-stars:before {
  content: "★★★★★";
  font-size: 2em;
}

.classif {
  font-size: 1em;
  width: -moz-max-content;
  width: max-content;
  position: relative;
}

/* SIDE BAR */
.pointer{
  width: max-content;
  top: 0;
  padding: .5vw;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 30px;
  cursor: pointer;
  line-height: 7vh;
  z-index: 10000;
  position: fixed;
  background-color: var(--background-bar);
  -webkit-box-shadow: 4px 10px 26px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 10px 26px -4px rgba(0,0,0,0.75);
  box-shadow: 4px 10px 26px -4px rgba(0,0,0,0.75);
}
#goBack{
  border-bottom-right-radius: 50%;
}
#goFoward{
  border-bottom-left-radius: 50%;
}
/* MAIN */
.main {
  width: 100%;
  height: 300vh;
  background-color: var(--background-page);
}
.interaction-container{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.question-container{
  width: 70%;
  height: 500px;
  background-color: red;
}
/* MEDIA QUERIES */
@media (max-width: 700px){
  .story-all-container {
    width: 100vw;
    grid-template-columns: 0 100% 0;
  }
}




