*{
    margin:0;
    padding:0;
    outline:0;
    box-sizing: border-box;  
}

.wrapper{
    width:400px;
    height: auto;
    border: 1px solid #cccccc;
    margin:10px auto;
    text-align:center;
    padding:50px;
}

input[type=text]{
    width:300px;
    height:30px;
    border:1px solid #cccccc;
    margin-bottom: 5px;
}

input[type=submit]{
    width:300px;
    height:30px;
    border:0;
    background-color: #009900;
    color: #ffffff;
    cursor:pointer;
    margin-bottom: 5px;
}

textarea{
    width:300px;
    height:300px;
    border:1px solid #cccccc;
    margin-bottom: 5px;
}