body{
    height: 100vh;
    background-color: #121212;
    overflow: hidden;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.pg{
    position: absolute;
    top: 50%;
    transition: 1s linear;

    height: 200px;

    box-shadow: 0px 13px 21px -3px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 13px 21px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 13px 21px -3px rgba(0,0,0,0.75);
}
.off-screen-ani{
    transition: 1s linear !important;
    left: -200% !important;
    z-index: 100 !important;

    background-color: #f0e1cc !important;
}
.back{
    z-index: -1 !important;
    transition: 0s !important;
    display: none !important; 
}