@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&family=Poltawski+Nowy&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Playfair+Display:ital@1&family=Poltawski+Nowy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    color: var(--color);
    font-family: 'Space Grotesk', sans-serif;
}
:root {
    color-scheme: light;
    --paper-color-all: #f0e1cc;
    --imp-color: rgb(228, 14, 14);
    --color-sort-bc: #eccfa5;
    --border-item-color: #6952316e;
}
.dark {
    color-scheme: dark;
    --paper-color-all: #161616;
    --imp-color: rgb(252, 27, 27);
    --color-sort-bc: #080808;
    --border-item-color: #fcecd52c;
}
.befAll{
    background-image: url(../img/sangue.png);
    background-color: var(--paper-color-all);
    width: 100%;
    height: 100%;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    min-height: 100vh;
}
.all{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* HEADER */

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.enter-menu{
    font-size: 35px;
    cursor: pointer;
}

.historito {
    transition: 0.5s linear;
    width: 30px;
    height: 30px;
    fill: var(--color);
    border: 3px solid  var(--color);
  }

.title{
    padding-top: 10px;
    font-size: 30px;
    font-weight: 600;
    font-family: "Poppins";
    color: var(--imp-color);
}

/*  PHRASE */
.phrase{
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-family: 'Space Grotesk', sans-serif;
    padding: 40px;
}
/* SELECTION */

.selection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--color-sort-bc);
}
.selection2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
input[type='radio'], label{
    cursor: pointer;
}
input[type='radio']{
    appearance: none;
    border: 2px solid var(--color);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
    transition: .2s ease-out;
}
input[type='radio']:checked, input[type='radio']:hover{
    border: 2px solid var(--imp-color);
}
input[type="radio"]:checked::before {
	content: "";
	display: block;
	width: 12px;
	height: 12px;
	background-color: var(--imp-color);
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	animation: appear .8s;
}
@keyframes appear {
	0% {
		transform: translate(-50%, -50%) scale(0);
		background-color: var(--color);
	}
	50% {
		transform: translate(-50%, -50%) scale(1.4);
		background-color: var(--imp-color);
	}
	100% {
		transform: translate(-50%, -50%) scale(1);
		background-color: var(--imp-color);
	}
}
.opp{
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 600;
}
.search-bar-cont{
    display: flex;
    position: relative;
    align-items: center;
    gap: 5px;
}
.search-bar{
    border: none;
    outline: none;
    font-size: 15px;
    margin-right: 30px;
    border-radius: 10px;
    padding: 4px 0;
    max-width: 50ch;
    width: 0;
    transition: .4s linear;
    color: var(--color);
    background-color: var(--paper-color-all);
}
.search-bar-cont:hover .search-bar, .search-bar:hover, .search-bar:focus, .search-bar:not(:placeholder-shown){
    width: 100%;
    padding: 4px;
}
.fa-search{
    position: absolute;
    right: 0;
}

/* ITEMS */
.items-all{
    margin-top: 20px;
}
.type{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}

.item{
    max-width: calc(25% - 50px);
    width: 100%;
    flex-grow: 1;
    border: 1px solid var(--border-item-color);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    transition: 2s ease-out;
    border-collapse: collapse;
}
img{
    background-position: center center;
    background-size: 100%;
    object-fit: contain;
    transition: .2s ease-out;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}
.item:hover img{
    background-size: 120%;
    cursor: pointer;
}
.price{
    margin-top: 10px;
    font-size: 20px;
}
.rest-item{
    text-align: center;
}
.exp_img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    max-height: 700px;
}




#item_display{
    display: flex;
    flex-direction: row;
}
.photo, .info{
    width: 50%;
    padding: 20px;
}
.photo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.info{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
#item_display_photo{
    border-radius: 10px;
}
#item_nome_title{
    font-size: 30px;
}
#sub{
    font-size: 20px;
    font-weight: 300;
}
#price_display{
    font-size: 40px;
    margin-top: 20px;
    font-family: "Noto Sans JP";
}


.buy{
    margin-top: 20px;
    padding: 10px;
    background-color: var(--imp-color);
    color: #ffffff;
    outline: none;
    border: none;
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;
}


@media (max-width: 1000px) {
    .item{
        max-width: calc(50% - 50px);
    }
    #item_display{
        flex-direction: column;
        align-items: center;
    }
    .photo{
        width: 100%;
        max-height: 100vh;
    }
    .info{
        width: 100%;
        align-items: center;
    }
}
@media (max-width: 600px) {
    .phrase{
        font-size: 16px;
    }
    .price{
        font-size: 16px;
    }
    #item_nome_title{
        font-size: 20px;
    }
    #sub{
        font-size: 16px;
    }
    #price_display{
        font-size: 22px;
    }
    .buy{
        font-size: 22px;
    }
}