*{
    padding: 0;
    margin: 0;
}
.all{
    width: 100%;
    min-height: 100vh;
    /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=e8c49a&c2=a47951&gt=r&gd=dtl
*/
background: #E8C49A;
background: radial-gradient(at left top, #E8C49A, #A47951);
}