:root {
    color-scheme: light;
    --color: #121212;
    --paper-color: #f0e1cc;
    --line-color: #121212;
  }
  .dark {
    color-scheme: dark;
    --color: #fcecd5;
    --paper-color: #606060;
    --line-color: #000000;
  }